<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

{% load static %}


<!--<!DOCTYPE html>-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>

<!--		<style>-->
		<link type="text/css" href="{% static 'women/css/style2.css' %}" rel="stylesheet" />
<!--		</style>-->
	</head>

	<body>
		<header>
			<div class="logo">Logo</div>
			<div class="nav-links">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
			<div class="user-icon">User Icon</div>
			<button class="login-button">Login</button>
		</header>

		<div class="left-menu">
			<a href="#">Link 1</a>
			<a href="#">Link 2</a>
			<a href="#">Link 3</a>
		</div>

		<div class="content">
			<div class="block">Block with some text</div>
			<div class="block">Block with some text</div>
			<div class="block">Block with some text</div>
		</div>

		<footer></footer>
	</body>
</html>