{% extends 'base.html' %}

{% block content %}
    <h1> {{ title }} </h1>
<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>

				<!-- Большая кнопка -->
				<button type="button" class="btn btn-default btn-lg">Текст кнопки</button>
				<!-- Маленькая кнопка -->
				<button type="button" class="btn btn-default btn-sm">Текст кнопки</button>
				<!-- Очень маленькая кнопка -->
				<button type="button" class="btn btn-default btn-xs">Текст кнопки</button>
{% endblock %}
